// colors
$bg: #000;
$orange: #ff9501;
$lightGrey: #a6a6a6;
$shadowGrey: #4f4f4f;
$darkGrey: #333;
$white: #fdfdfd;

.main {
    display: flex;
}


.calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    // border: 1px solid $bg;
    border-radius: 20px;
    background: $bg;
    color: $white;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px $shadowGrey;

    &__one {
        width: 320px;
        margin: 50px auto;
        border-radius: 20px;
        background: $bg;
        color: $white;
        font-family: Arial;
        padding: 18px;
        box-shadow: 4px 4px 4px $shadowGrey;
        font-size: 1.3rem;

        input {
            padding: 8px;
        }

        &-btn {
            padding: 8px;
            border-radius: 10px;
            background-color: $lightGrey;
            color: $white;
            text-align: center;
            font-size: 1rem;
            cursor: pointer;
            user-select: none;
        }
    }

    &__screen {
        height: 125px;
        padding: 10px;
        display: grid;
        justify-items: end;
        align-items: end;
        margin-bottom: 25px;

        &-p {
            width: 300px;
            height: auto;
        }
        

        p {
            text-align: right;
            font-size: 4rem;
            margin: 0;
        }
    }
}

.buttons {
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eight nine myltiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}

.btn {
    width: 60px;
    height: 60px;
    background: $darkGrey;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}

.btn.bg-grey {
    background: $lightGrey;
} 

.btn.bg-orange {
    background: $orange;
} 

.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(90%);
}